* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom, #070F2B, #1D267D);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  table {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0 25px rgba(7, 15, 43, 0.7);
    padding: 20px;
    border-radius: 5px;
  }

  tr, th{
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 5px;
  }

main input {
    background:rgba(255,255,255,0.1); 
    border: none; 
    border-radius: 30px;
    padding: 10px 40px 10px 10px;
}

nav{
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: end;
}

nav button {
    background-color: #1D267D;
    border: 1px solid white ;
    color: white;
    transition: background 0.5s;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

nav button:hover {
    background-color: #0b194e;
    cursor: pointer;
}

.container {
    padding: 40px 10px 0 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }

  .container h2 {
    font-weight: lighter;
  }

.container button {
    background-color: #3fa8ee;
    border: 1px solid white ;
    color: white;
    transition: background 0.5s;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.container button:hover {
    background-color: #012842;
    cursor: pointer;
}